.zkHeader {
  width: 10.000000rem;
  height: 1.562500rem;
  background: #ccc;
}
.zkHeader .zkLogo {
  width: 2.187500rem;
  height: 0.703125rem;
  display: block;
  background: #ff0000;
  float: left;
}
.zkHeader .zkMenu {
  width: 7.812500rem;
  height: 0.703125rem;
  display: block;
  background: #00ffff;
  float: right;
}
.zkHeader .clb {
  clear: both;
}